<h2>About Me</h2>
<p>I'm an Undergraduate UMBC student pursuing a degree in Media and Communication Studies, with a minor in Journalism.</p>
<p></p>
<hr />
<h2>Experience</h2>
<ul>
  <li>Tour Guide and Duty Officer @ <a href="http://www.firemuseummd.org">The Fire Museum of Maryland</a></li>
  <li>Game Leader @ <a href="https://breakoutgames.com/">Jmore: Baltimore Jewish Living</a></li>
  <li>Student Engagement Intern @ <a href="https://hillel.umbc.edu">UMBC Hillel</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <h2>Portfolio</h2>
  <li class="main-list-item">
    <span class="fa fa-pencil fa-lg main-list-item-icon"></span>
    <a href="http://www.jmoreliving.com/author/william-linker/">Jmore Author Page</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-code fa-lg main-list-item-icon"></span>
    <a href="https://devpost.com/software/morsr-ropk4s">Morsr (HackUMBC 2017)</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="assets\PDF\Dig-Geo-Net-Neutrality.pdf">"Digital Geographic" Magazine</a>
  </li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <h2>Social Media</h2>
  <a href="https://twitter.com/WilliamLinker"><span class="fa fa-twitter fa-2x main-list-item-icon"</span></a>
  <a href="https://linkedin.com/in/william-linker/"><span class="fa fa-linkedin fa-2x main-list-item-icon"</span></a>
  <a href="https://instagram.com/missinglinker/"><span class="fa fa-instagram fa-2x main-list-item-icon"</span></a>
  </ul>
