<h2>About Me</h2>
<p>I'm a Undergraduate student pursuing a degree in Media and Communication Studies, with a minor in Journalism. I work at <a href="http://www.firemuseummd.org">The Fire Museum of Maryland</a> as a tour guide and duty officer.</p>

<h2>Experience</h2>
<ul>
  <li></li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <h2>Portfolio</h2>
  <li class="main-list-item">
    <span class="fas fa-star-of-david fa-lg main-list-item-icon"></span>
    <a href="http://www.jmoreliving.com/author/william-linker/"><i>Jmore</i> Author Page</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
